{% extends "dpmfa/page.html" %}

{% block title %}
    {% if flow_compartment.pk %}
        Edit Flow Compartment &quot;{{flow_compartment.name}}&quot;
    {% else %}
        New Flow Compartment
    {% endif %}
{% endblock %}

{% block body %}
<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand" href="#">
                {% if flow_compartment.pk %}
                    Edit Flow Compartment &quot;{{flow_compartment.name}}&quot;
                {% else %}
                    New Flow Compartment
                {% endif %}
          </span>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'dpmfa:flow-compartment-update' flow_compartment.pk %}" data-toggle="tooltip" title="Edit">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Edit
                </a>
            </li>
            <li>
                 <a href="{% url 'dpmfa:flow-compartment-delete' flow_compartment.pk %}" data-toggle="tooltip" title="Delete">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Delete
                </a>
            </li>
        </ul>
      </div>
    </nav>
</header>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' flow_compartment.model.project.pk %}">{{ flow_compartment.model.project.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' flow_compartment.model.pk %}">{{ flow_compartment.model.name }}</a></li>
                {% if flow_compartment.pk %}
                    <li class="breadcrumb-item"><a href="{% url 'dpmfa:flow-compartment-detail' flow_compartment.pk %}">{{ flow_compartment.name }}</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                {% else %}
                    <li class="breadcrumb-item active">New Flow Compartment</li>
                {% endif %}
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>
                {% if flow_compartment.pk %}
                    Edit Flow Compartment &quot;{{flow_compartment.name}}&quot;
                {% else %}
                    New Flow Compartment
                {% endif %}
            </h1>

            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}