{% extends "dpmfa/page.html" %}

{% block title %}
    {% if model.name %}
        Edit Model &quot;{{model.name}}&quot;
    {% else %}
        New Model
    {% endif %}
{% endblock %}

{% block body %}
<header>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' project.pk %}">{{ project.name }}</a></li>

                {% if model.name %}
                    <li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' model.pk %}">{{ model.name }}</a></li>
                    <li class="breadcrumb-item active">Edit Model &quot;{{model.name}}&quot;</li>
                {% else %}
                <li class="breadcrumb-item active">New Model</li>
                {% endif %}
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>
                {% if model.name %}
                    Edit Model &quot;{{model.name}}&quot;
                {% else %}
                    New Model
                {% endif %}
            </h1>

            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}