{% extends "dpmfa/page.html" %}
{% load class_tag %}
{% load static %}
{% load custom_dpmfa_tags %}

{% if goto %}
<script> window.location.hash = '#{{goto}}'; </script>
{% endif %}

{% block title %}Model: &quot;{{model.name}}&quot;{% endblock %}

{% block body %}
<header>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' model.project.pk %}">{{ model.project.name }}</a></li>
              <li class="breadcrumb-item active">{{model.name}}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Model &quot;{{ model.name }}&quot;</h1>
	            
	            {% if model.description %}
	                <div class="dpmfa-pre-wrap">{{ model.description }}</div>
	            {% endif %}
            
            	<h2>1) Model Diagram</h2>
            
            		<h3>Here we will add a preview of the diagram</h3>
            	
			            <p>
			            	<a href="{% url 'dpmfa:designer-redirect' model.pk %}" class="btn btn-primary">
			            	<i class="glyphicon glyphicon-log-in"></i>
			            	Model designer
			            	</a>
			            </p>
	            
		           <h2>2) Parametrization</h2>
		
		  	          <h3>Compartments</h3>
		    	      	<div class="panel-group" id="flowCompartmentAccordion">
			            	<div class="panel panel-default">
			                	<div class="panel-heading">
			                  		<h4 class="panel-title">
			                    	<a data-toggle="collapse" href="#flowCompartments">
			                    	<i class="glyphicon glyphicon-list"></i>
			                    	Flow Compartments</a>
			                  		</h4>
			                	</div>
			                	<div id="flowCompartments" class="panel-collapse collapse">
			                  		<div class="panel-body">
			                  		{% if flow_compartments %}
				                		<table class="table table-striped">
				                    		<thead class="thead-default">
				                        		<tr>
				                            		<th scope="row">Name</th>
				                            		<th scope="row">Categories</th>
				                            		<th scope="row">Log inflows</th>
				                            		<th scope="row">Log outflows</th> 
				                            		<th scope="row">Adjust outgoing TC's</th> 
				                            		<th scope="row">Transfers</th> 
				                            		<th scope="row">Action</th>
				                        		</tr>
				                    		</thead>
					                    	<tbody>
					 							{% for flow_compartment in flow_compartments %}
					                        		<tr>
					                               		<td class="dpmfa-td-20-top">
					                               			<a href="{% url 'dpmfa:flow-compartment-detail' flow_compartment.pk %}" data-toggle="tooltip" title="Detail">
					                               			{{ flow_compartment.name }}</a>
					                               		</td>
					                               		<td class="dpmfa-td-5-top">
					                               			{{ flow_compartment.categories }}
					                               		</td>
					                               		<td class="dpmfa-td-5-top">
					                               			{{ flow_compartment.log_inflows }}
					                               		</td>
					                               		<td class="dpmfa-td-5-top">
					                               			{{ flow_compartment.log_outflows }}
					                               		</td>
					                               		<td class="dpmfa-td-5-top">
					                               			{{ flow_compartment.adjust_outgoing_tcs }}
					                               		</td>
					                               		<td class="dpmfa-td-50-top">
						                            		{% if transfers_of_flow_compartment %}
						                               		{% for transfer_of_flow_compartment in transfers_of_flow_compartment|lookup:flow_compartment.pk  %}
							                               			{% if transfer_of_flow_compartment.pk %}
							                               				<p>
							                               				<a href="{% url 'dpmfa:transfer-redirect' transfer_of_flow_compartment.pk %}">
							                               				{{ transfer_of_flow_compartment.name }}
							                               				</p>
							                               				</a>
							                               			{% endif %}
							                               		{% endfor %}
							                               	{% else %}
							                               		lookup for transfers of sink failed
							                               	{% endif %}
					                               		</td>
					                               		<td class="dpmfa-td-10-top">
					                                    	<a href="{% url 'dpmfa:flow-compartment-update' flow_compartment.pk %}" class="btn btn-primary" data-toggle="tooltip" title="Edit">
					                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					                                    	</a>
					                               		</td>
					                           		</tr>
					                        	{% endfor %}
					                    	</tbody>
				                		</table>
				            		{% else %}
				                		<div class="alert alert-info">There are no flow compartments.</div>
				            		{% endif %}
			                  		</div>
			                	</div>
			              </div>
			              <div class="panel panel-default">
			                <div class="panel-heading">
			                  <h4 class="panel-title">
			                    <a data-toggle="collapse" href="#stockAccordion">
			                    <i class="glyphicon glyphicon-list"></i>
			                    Stocks</a>
			                  </h4>
			                </div>
			                <div id="stockAccordion" class="panel-collapse collapse">
			                  <div class="panel-body">
			                  	{% if stocks %}
					                <table class="table table-striped table-hover table-responsive">
					                    <thead>
					                        <tr>
					                            <th scope="row">Name</th>
					                            <th scope="row">Categories</th>
					                            <th scope="row">Log inflows</th>
			                            		<th scope="row">Log outflows</th> 
			                            		<th scope="row">Adjust outgoing TC's</th> 
					                            <th scope="row">Incoming transfers</th>
					                            <th scope="row">Local release</th>
					                            <th scope="row">Action</th>
					                        </tr>
					                    </thead>
					                    <tbody>
					                   		{% for stock in stocks %}
					                        	<tr>
					                            	<td class="dpmfa-td-20-top">
					                               		<a href="{% url 'dpmfa:stock-detail' stock.pk %}">
					                               		{{ stock.name }}</a>
					                           		</td>
					                               	<td class="dpmfa-td-5-top"">
					                               		{{ stock.categories }}
					                               	</td>
					                               	<td class="dpmfa-td-5-top">
					                               		{{ stock.log_inflows }}
					                               	</td>
				                               		<td class="dpmfa-td-5-top">
				                               			{{ stock.log_outflows }}
				                               		</td>
					                               	<td class="dpmfa-td-10-top">
				                               			{{ stock.adjust_outgoing_tcs }}
				                               		</td>
					                               		<td class="dpmfa-td-25-top">
						                            		{% if transfers_of_stock %}
							                               		{% for transfer_of_stock in transfers_of_stock|lookup:stock.pk  %}
								                               			{% if transfer_of_stock.pk %}
								                               				<p>
								                               				<a href="{% url 'dpmfa:transfer-redirect' transfer_of_stock.pk %}">
								                               				{{ transfer_of_stock.name }}
								                               				</p>
								                               				</a>
								                               			{% endif %}
								                               	{% endfor %}
							                               	{% else %}
							                               		Lookup for transfers of stock failed
							                               	{% endif %}
					                               		</td>
				                               		<td class="dpmfa-td-20-top">
				                               			<a href="{% url 'dpmfa:local-release-update' stock.local_release.pk %}">
				                               			{{ stock.local_release }}
				                               			</a>
				                               		</td>
					                               	<td class="dpmfa-td-10-top">
					                                    <a href="{% url 'dpmfa:stock-update' stock.pk %}" class="btn btn-primary" data-toggle="tooltip" title="Edit">
					                                    	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					                                    </a>
					                               	</td>
					                           	</tr>
					                        {% endfor %}
					                    </tbody>
					                </table>
			            		{% else %}
			                		<div class="alert alert-info">There are no stocks.</div>
			            		{% endif %}
			                  </div>
			                </div>
			              </div>
			              <div class="panel panel-default">
			              	<div class="panel-heading">
			                	<h4 class="panel-title">
			                    	<a data-toggle="collapse" href="#sinkAccordion">
			                    	<i class="glyphicon glyphicon-list"></i>
			                    	Sinks</a>
			                  	</h4>
			                </div>
			                <div id="sinkAccordion" class="panel-collapse collapse">
			                	<div class="panel-body">
					            {% if sinks %}
						        	<table class="table table-striped table-hover table-responsive">
					                	<thead>
					                        <tr>
					                            <th scope="row">Name</th>
					                            <th scope="row">Categories</th>
			                            		<th scope="row">Log inflows</th> 
			                            		<th scope="row">Incoming transfers</th> 
					                            <th scope="row">Action</th>
					                        </tr>
					                    </thead>
						             	<tbody>
						                	{% for sink in sinks %}
						                    	<tr>
					                               	<td class="dpmfa-td-20-top"">
					                               		<a href="{% url 'dpmfa:sink-detail' sink.pk %}" data-toggle="tooltip" title="Detail">
					                               		{{ sink.name }}</a>
					                               	</td>
					                               	<td class="dpmfa-td-5-top">
					                               		{{ sink.categories }}
					                               	</td>
					                               	<td class="dpmfa-td-5-top">
					                               		{{ sink.log_inflows }}
					                               	</td>
					                               	<td class="dpmfa-td-59-top">
					                               	{% if transfers_of_sink %}
					                               		{% for transfer_of_sink in transfers_of_sink|lookup:sink.pk  %}
					                               			{% if transfer_of_sink.pk %}
					                               				<p>
					                               				<a href="{% url 'dpmfa:transfer-redirect' transfer_of_sink.pk %}">
					                               				{{ transfer_of_sink.name }}
					                               				</p>
					                               				</a>
					                               			{% endif %}
					                               		{% endfor %}
					                               	{% else %}
					                               		lookup for transfers of sink failed
					                               	{% endif %}
					                               	</td>
					                               	<td class="dpmfa-td-10-top">
					                                    <a href="{% url 'dpmfa:sink-update' sink.pk %}" class="btn btn-primary" data-toggle="tooltip" title="Edit">
					                                    	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					                                    </a>
					                               	</td>
						                   		</tr>
						               		{% endfor %}
						          		</tbody>
						    		</table>
				            	{% else %}
				               		<div class="alert alert-info">There are no sinks.</div>
				            	{% endif %}
				         	</div>
				      	</div>
					</div>
	            </div>
	            <div>
		            <h3>External Inflows</h3>
		            	<div class="panel-group" id="externalInflowAccordion">
			            	<div class="panel panel-default">
			                	<div class="panel-heading">
			                  		<h4 class="panel-title">
			                    	<a data-toggle="collapse" href="#externalListInflow">
			                    	<i class="glyphicon glyphicon-list"></i>
			                    	External List Inflows</a>
			                  		</h4>
			                	</div>
			                	<div id="externalListInflow" class="panel-collapse collapse">
			                  		<div class="panel-body">
						              	{% if external_list_inflows %}
							                <table class="table table-striped">
							                    <thead>
							                        <tr>
							                            <th scope="row">Name</th>
							                            <th scope="row">Target</th>
							                            <th scope="row">Start delay</th>
							                            <th scope="row">Derivation distribution</th>
							                            <th scope="row">Derivation parameters</th>
							                            <th scope="row">Derivation factor</th>
							                            <th scope="row">Single period inflows</th>
							                            <th scope="row">Action</th>
							                        </tr>
							                    </thead>
							                    <tbody>
							                        {% for external_list_inflow in external_list_inflows %}
							                           <tr>
							                               	<td class="dpmfa-td-20-top">
							                               		<a href="{% url 'dpmfa:external-list-inflow-detail' external_list_inflow.pk %}" data-toggle="tooltip" title="Detail">
							                               		{{ external_list_inflow.name }}</a>
							                               	</td>
							                               	<td class="dpmfa-td-10-top">
							                               		<a href="{% url 'dpmfa:compartment-redirect' external_list_inflow.target.pk %}">
							                               		{{ external_list_inflow.target.name }}</a>
							                               	</td>
							                               	<td class="dpmfa-td-5-top">
							                               		{{ external_list_inflow.start_delay}}
							                               	</td>
							                               	<td class="dpmfa-td-5-top">
							                               		{{ external_list_inflow.derivation_distribution}}
							                               	</td> 
							                               	<td class="dpmfa-td-5-top">
							                               		{{ external_list_inflow.derivation_parameters}}
							                               	</td>
							                               	<td class="dpmfa-td-5-top">
							                               		{{ external_list_inflow.derivation_factor}}
							                               	</td>
							                               	<td class="dpmfa-td-40-top">
						                               			{% if single_period_inflows %}
							                               			<ol>
									                               		{% for single_period_inflow in single_period_inflows|lookup:external_list_inflow.pk  %}
									                               			{% if single_period_inflow.pk %}
									                               				<li>
									                               				<a href="{% url 'dpmfa:single-period-inflow-redirect' single_period_inflow.pk %}">
									                               				{{ single_period_inflow|get_class|underline_to_ws|title }}
									                               				</li>
									                               				</a>
									                               			{% endif %}
									                               		{% endfor %}
									                               		{% else %}
									                               			single period lookup failed
							                               			</ol>
									                      		{% endif %}
							                               	</td>
							                             	<td class="dpmfa-td-10-top">
							                             		<a href="{% url 'dpmfa:external-list-inflow-update' external_list_inflow.pk %}" class="btn btn-primary" data-toggle="tooltip" title="Edit">
							                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							                                    </a>
							                               </td>
							                           </tr>
							                        {% endfor %}
							                    </tbody>
							                </table>
							            {% else %}
							                <div class="alert alert-info">There are no external list inflows.</div>
							            {% endif %}
			                  		</div>
			                	</div>
			              </div>
			              <div class="panel panel-default">
			                <div class="panel-heading">
			                  <h4 class="panel-title">
			                    <a data-toggle="collapse" href="#externalFunctionInflowAccordion">
			                    <i class="glyphicon glyphicon-list"></i>
			                    External Function Inflows</a>
			                  </h4>
			                </div>
			                <div id="externalFunctionInflowAccordion" class="panel-collapse collapse">
			                  <div class="panel-body">
			                  					            {% if external_function_inflows %}
				                <table class="table table-striped table-hover table-responsive">
				                    <thead>
				                        <tr>
				                            <th scope="row">Name</th>
				                            <th scope="row">Target</th>
				                            <th scope="row">Start delay</th>
				                            <th scope="row">Derivation distribution</th>
				                            <th scope="row">Derivation parameters</th>
							                <th scope="row">Derivation factor</th>
				                            <th scope="row">Basic inflow</th>
				                            <th scope="row">Inflow function</th>
				                            <th scope="row">Action</th>
				                        </tr>
				                    </thead>
				                    <tbody>
				                   		{% for external_function_inflow in external_function_inflows %}
				                       		<tr>
				                           		<td class="dpmfa-td-20-top">
				                           			<a href="{% url 'dpmfa:external-function-inflow-detail' external_function_inflow.pk %}" data-toggle="tooltip" title="Detail">
			                               			{{ external_function_inflow.name }}</a>
			                               		</td>
				                               	<td class="dpmfa-td-10-top">
				                               		<a href="{% url 'dpmfa:compartment-redirect' external_function_inflow.target.pk %}" data-toggle="tooltip" title="Update">
				                               		{{ external_function_inflow.target }}</a>
				                               	</td>
				                               	<td class="dpmfa-td-5-top">
				                               		{{ external_function_inflow.start_delay}}
				                               	</td>
				                               	<td class="dpmfa-td-10-top">
				                               		{{ external_function_inflow.derivation_distribution}}
				                               	</td> 
				                               	<td class="dpmfa-td-5-top">
				                               		{{ external_function_inflow.derivation_parameters}}
				                               	</td>
				                               	<td class="dpmfa-td-5-top">
				                               		{{ external_function_inflow.derivation_factor}}
				                               	</td>
				                               	<td class="dpmfa-td-10-top">
				                               		<a href="{% url 'dpmfa:external-function-inflow-detail' external_function_inflow.pk %}">
				                               		{{ external_function_inflow.basic_inflow.period}}</a>
				                               	</td>
				                               	<td class="dpmfa-td-10-top">
				                               		{{ external_function_inflow.inflow_function}}
				                               	</td>
				                               	<td class="dpmfa-td-10-top">
				                             		<a href="{% url 'dpmfa:external-function-inflow-update' external_function_inflow.pk %}" class="btn btn-primary" data-toggle="tooltip" title="Edit">
				                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				                                    </a>
				                               	</td>
				                         
				                           </tr>
				                        {% endfor %}
				                    </tbody>
				                </table>
				            {% else %}
				                <div class="alert alert-info">There are no external function inflows.</div>
				            {% endif %}
				            
			                  </div>
			                </div>
			              </div>
		            <h3>Transfers</h3>
		            	<div class="panel panel-default">
			                <div class="panel-heading">
			                  <h4 class="panel-title">
			                    <a data-toggle="collapse" href="#constantTransferwAccordion">
			                    <i class="glyphicon glyphicon-list"></i>
			                    Constant Transfers</a>
			                  </h4>
			                </div>
			                <div id="constantTransferwAccordion" class="panel-collapse collapse">
			                  <div class="panel-body">
					       		{% if constant_transfers %}
					                <table class="table table-striped">
					                    <thead>
					                        <tr>
					                            <th scope="row">Name</th>
					                            <th scope="row">Priority</th>
					                            <th scope="row">Weight</th>
					                            <th scope="row">Source</th>
					                            <th scope="row">Target</th>
					                            <th scope="row">Aggregated transfer</th>
					                            <th scope="row">Value</th>
					                            <th scope="row">Action</th>
					                        </tr>
					                    </thead>
					                    <tbody>
					                        {% for constant_transfer in constant_transfers %}
					                           <tr>
					                               	<td class="dpmfa-td-20-top">
					                               		<a href="{% url 'dpmfa:constant-transfer-detail' constant_transfer.pk %}">
					                               		{{ constant_transfer.name }}</a>
					                               	</td>
					                               	<td class="dpmfa-td-5-top">
					                               		{{ constant_transfer.priority}} 
					                               	</td>
					                               	<td class="dpmfa-td-5-top">
					                               		{{ constant_transfer.weight}} 
					                               	</td>
					                          		<td class="dpmfa-td-20-top">
					                          			{% if constant_transfer.source_flow_compartment %}
															<a href="{% url 'dpmfa:compartment-redirect' constant_transfer.source_flow_compartment.pk %}">
						                               		{{ constant_transfer.source_flow_compartment.name }} 
						                               		</a>
														{% endif %}
					                               	</td>
					                               	<td class="dpmfa-td-20-top">
					                               		<a href="{% url 'dpmfa:compartment-redirect' constant_transfer.target.pk %}">
					                               		{{ constant_transfer.target.name }} 
					                               		</a>
					                               	</td>
					                               	<td class="dpmfa-td-10-top">
					                               		{{ constant_transfer.belongs_to_aggregated_transfer }} 
					                               	</td>
					                               	<td class="dpmfa-td-9-top">
					                               		{{ constant_transfer.value }} 
					                               	</td>
					                               	<td class="dmpfa-td-10-top">
					                                    <a href="{% url 'dpmfa:constant-transfer-update' constant_transfer.pk %}" class="btn btn-primary" data-toggle="tooltip" title="Edit">
					                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					                                    </a>
					                               	</td>
					                           </tr>
					                        {% endfor %}
					                    </tbody>
					                </table>
					            {% else %}
					                <div class="alert alert-info">There are no constant transfers.</div>
					            {% endif %}
					                    </tbody>
					                </table>
			                  </div>
			                </div>
			              </div>
			              <div class="panel panel-default">
			                <div class="panel-heading">
			                  <h4 class="panel-title">
			                    <a data-toggle="collapse" href="#randomChoiceTransferwAccordion">
			                    <i class="glyphicon glyphicon-list"></i>
			                    Random Choice Transfers</a>
			                  </h4>
			                </div>
			                <div id="randomChoiceTransferwAccordion" class="panel-collapse collapse">
			                  <div class="panel-body">
					       		{% if random_choice_transfers %}
					                <table class="table table-striped">
					                    <thead>
					                        <tr>
					                            <th scope="row">Name</th>
					                            <th scope="row">Priority</th>
					                            <th scope="row">Weight</th>
					                            <th scope="row">Source</th>
					                            <th scope="row">Target</th>
					                            <th scope="row">Aggregated transfer</th>
					                            <th scope="row">Sample</th>
					                            <th scope="row">Action</th>
					                        </tr>
					                    </thead>
					                    <tbody>
					                        {% for random_choice_transfer in random_choice_transfers %}
					                           <tr>
					                               <td class="dpmfa-td-20-top">
					                               		<a href="{% url 'dpmfa:random-choice-transfer-detail' random_choice_transfer.pk %}">
					                               		{{ random_choice_transfer.name }}</a>
					                               </td>
					                               <td class="dpmfa-td-5-top">
					                               		{{ random_choice_transfer.priority}} 
					                               </td>
					                               <td class="dpmfa-td-5-top">
					                               		{{ random_choice_transfer.weight}} 
					                               </td>
					                               <td class="dpmfa-td-20-top 	">
				                            			{% if random_choice_transfer.source_flow_compartment %}
														<a href="{% url 'dpmfa:compartment-redirect' random_choice_transfer.source_flow_compartment.pk %}">
					                               		{{ random_choice_transfer.source_flow_compartment.name }} 
					                               		</a>
														{% endif %}
					                               </td>
					                               <td class="dpmfa-td-20-top">
					                               		{% if random_choice_transfer.target %}
														<a href="{% url 'dpmfa:compartment-redirect' random_choice_transfer.target.pk %}">
					                               		{{ random_choice_transfer.target.name }} 
					                               		</a>
														{% endif %}
					                               </td>
					                               <td class="dpmfa-td-5-top">
					                               		{{ random_choice_transfer.belongs_to_aggregated_transfer }} 
					                               </td>
					                               <td class="dpmfa-td-10-top">
					                               		{{ random_choice_transfer.sample }} 
					                               </td>
					                               <td class="dmpfa-td-10-top">
					                                    <a href="{% url 'dpmfa:random-choice-transfer-update' random_choice_transfer.pk %}" class="btn btn-primary" data-toggle="tooltip" title="Edit">
					                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					                                    </a>
					                               </td>
					                           </tr>
					                        {% endfor %}
					                    </tbody>
					                </table>
					            {% else %}
					                <div class="alert alert-info">There are no random choice transfers.</div>
					            {% endif %}
					                    </tbody>
					                </table>
			                  </div>
			                </div>
			              </div>
			              <div class="panel panel-default">
			                <div class="panel-heading">
			                  <h4 class="panel-title">
			                    <a data-toggle="collapse" href="#stochasticTransferwAccordion">
			                    <i class="glyphicon glyphicon-list"></i>
			                    Stochastic Transfers</a>
			                  </h4>
			                </div>
			                <div id="stochasticTransferwAccordion" class="panel-collapse collapse">
			                  <div class="panel-body">
					       		{% if random_choice_transfers %}
					                <table class="table table-striped">
					                    <thead>
					                        <tr>
					                            <th scope="row">Name</th>
					                            <th scope="row">Priority</th>
					                            <th scope="row">Weight</th>
					                            <th scope="row">Source</th>
					                            <th scope="row">Target</th>
					                            <th scope="row">Aggregated transfer</th>
					                            <th scope="row">Parameter</th>
					                            <th scope="row">Function</th>
					                            <th scope="row">Action</th>
					                        </tr>
					                    </thead>
					                    <tbody>
					                        {% for stochastic_transfer in stochastic_transfers %}
					                           <tr>
					                               <td class="dpmfa-td-20-top">
					                               		<a href="{% url 'dpmfa:stochastic-transfer-detail' stochastic_transfer.pk %}">
					                               		{{ stochastic_transfer.name }}</a>
					                               </td>
					                               <td class="dpmfa-td-5-top">
					                               		{{ stochastic_transfer.priority}} 
					                               </td>
					                               <td class="dpmfa-td-5-top">
					                               		{{ stochastic_transfer.weight}} 
					                               </td>
					                               <td class="dpmfa-td-20-top 	">
					                               		{% if stochastic_transfer.source_flow_compartment %}
														<a href="{% url 'dpmfa:compartment-redirect' stochastic_transfer.source_flow_compartment.pk %}">
					                               		{{ stochastic_transfer.source_flow_compartment.name }} 
					                               		</a>
														{% endif %}
					                               </td>
					                               <td class="dpmfa-td-15-top">
					                               		{% if stochastic_transfer.target %}
														<a href="{% url 'dpmfa:compartment-redirect' stochastic_transfer.target.pk %}">
					                               		{{ stochastic_transfer.target.name }} 
					                               		</a>
														{% endif %}					                               
					                               </td>
					                               <td class="dpmfa-td-5-top">
					                               		{{ stochastic_transfer.belongs_to_aggregated_transfer }} 
					                               </td>
					                               <td class="dpmfa-td-5-top">
					                               		{{ stochastic_transfer.parameters }} 
					                               </td>
					                               <td class="dpmfa-td-5-top">
					                               		{{ stochastic_transfer.function }} 
					                               </td>
					                               <td class="dmpfa-td-10-top">
					                                    <a href="{% url 'dpmfa:stochastic-transfer-update' stochastic_transfer.pk %}" class="btn btn-primary" data-toggle="tooltip" title="Edit">
					                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					                                    </a>
					                               </td>
					                           </tr>
					                        {% endfor %}
					                    </tbody>
					                </table>
					            {% else %}
					                <div class="alert alert-info">There are no random choice transfers.</div>
					            {% endif %}
					                    </tbody>
					                </table>
			                  </div>
			                </div>
			              </div>
			              <div class="panel panel-default">
			                <div class="panel-heading">
			                  <h4 class="panel-title">
			                    <a data-toggle="collapse" href="#aggregatedTransferwAccordion">
			                    <i class="glyphicon glyphicon-list"></i>
			                    Aggregated Transfers</a>
			                  </h4>
			                </div>
			                <div id="aggregatedTransferwAccordion" class="panel-collapse collapse">
			                  <div class="panel-body">
					       		{% if aggregated_transfers %}
					                <table class="table table-striped">
					                    <thead>
					                        <tr>
					                            <th scope="row">Name</th>
					                            <th scope="row">Priority</th>
					                            <th scope="row">Weight</th>
					                            <th scope="row">Source</th>
					                            <th scope="row">Target</th>
					                            <th scope="row">Weights</th>
					                            <th scope="row">Action</th>
					                        </tr>
					                    </thead>
					                    <tbody>
					                        {% for aggregated_transfer in aggregated_transfers %}
					                           	<tr>
					                               	<td class="dpmfa-td-20-top">
					                               		<a href="{% url 'dpmfa:aggregated-transfer-detail' aggregated_transfer.pk %}">
					                               		{{ aggregated_transfer.name }}</a>
					                               	</td>
					                               	<td class="dpmfa-td-5-top">
					                               		{{ aggregated_transfer.priority}} 
					                               	</td>
					                               	<td class="dpmfa-td-5-top">
					                               		{{ aggregated_transfer.weight}} 
					                               	</td>
					                               	<td class="dpmfa-td-20-top 	">
					                               		{% if aggregated_transfer.source_flow_compartment %}
														<a href="{% url 'dpmfa:compartment-redirect' aggregated_transfer.source_flow_compartment.pk %}">
					                               		{{ aggregated_transfer.source_flow_compartment.name }} 
					                               		</a>
														{% endif %}					                               	
					                               	</td>
					                               	<td class="dpmfa-td-15-top">
					                               		{% if aggregated_transfer.target %}
														<a href="{% url 'dpmfa:compartment-redirect' aggregated_transfer.target.pk %}">
					                               		{{ aggregated_transfer.target.name }} 
					                               		</a>
														{% endif %}						                               	
					                               	</td>
					                               	<td class="dpmfa-td-25-top">
					                               		{{ aggregated_transfer.weights }} 
					                               	</td>
					                               	<td class="dmpfa-td-10-top">
					                               		<a href="{% url 'dpmfa:aggregated-transfer-update' aggregated_transfer.pk %}" class="btn btn-primary" data-toggle="tooltip" title="Edit">
				                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				                                    </a>
					                               </td>
					                           </tr>
					                        {% endfor %}
					                    </tbody>
					                </table>
					            {% else %}
					                <div class="alert alert-info">There are no random choice transfers.</div>
					            {% endif %}
					                    </tbody>
					                </table>
			                  </div>
			                </div>
			              </div>
				<h2>3) Experiments</h2>
					<div class="panel panel-default">
		                <div class="panel-heading">
		                  <h4 class="panel-title">
		                    <a data-toggle="collapse" href="#experimentsAccordion">
		                    <i class="glyphicon glyphicon-list"></i>
		                    Experiments</a>
		                  </h4>
		                </div>
		                <div id="experimentsAccordion" class="panel-collapse collapse">
		                  <div class="panel-body">
				       		{% if experiments %}
				                <table class="table table-striped">
				                    <thead>
				                        <tr>
				                            <th scope="row">Name</th>
				                            <th scope="row">Model instance</th>
				                            <th scope="row">Runs</th>
				                            <th scope="row">Periods</th>
				                            <th scope="row">Created</th>
				                            <th scope="row">Changed</th>
				                            <th scope="row">Results</th>
				                        </tr>
				                    </thead>
				                    <tbody>
				       					{% for experiment in experiments %}
				                           	<tr>
				                               	<td class="dpmfa-td-20-top">
				                               		<a href="">
				                               			{{ experiment.name }}
				                               		</a>
				                               	</td>
				                               	<td class="dpmfa-td-20-top">
				                               		<a href="">
					                               		{{ experiment.name_of_model_instance}} 
				                               		</a>
				                               	</td>
				                               	<td class="dpmfa-td-20-top">
				                               		{{ experiment.runs}} 
				                               	</td>
				                               	<td class="dpmfa-td-10-top">
				                               		{{ experiment.periods}} 
				                               	</td>
				                               	<td class="dpmfa-td-10-top">
				                               		{{ experiment.evt_created}} 
				                               	</td>
				                               	<td class="dpmfa-td-10-top">
				                               		{{ experiment.evt_changed}} 
				                               	</td>
				                               	<td class="dpmfa-td-10-top">
				                               		<a href="">
					                               		{{ experiment.result }} 
				                               		</a>
				                               	</td>
				                           </tr>
				                        {% endfor %}
				                    </tbody>
				                </table>
				            {% endif %}
				            
			<a class="btn btn-primary" href="">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New Experiment
            </a>
				            
    	</div>
	</div>
</div>

{% endblock %}