{% extends "dpmfa/page.html" %}

{% block title %}Flow Compartment &quot;{{flow_compartment.name}}&quot;{% endblock %}

{% block body %}
<header>
</header>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' flow_compartment.model.project.pk %}">{{ flow_compartment.model.project.name }}</a></li>
                {% if model.prototype_model %}
                	<li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' model.prototype_model.pk %}">{{ model.prototype_model.name }}</a></li>
                	<li class="breadcrumb-item"><a href="{% url 'dpmfa:model-instance-read-only' flow_compartment.model.pk %}">{{ flow_compartment.model.name }} ({{flow_compartment.model.pk}})</a></li>
                {% else %}
                	<li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' flow_compartment.model.pk %}">{{ flow_compartment.model.name }} </a></li>
                {% endif %}
              <li class="breadcrumb-item active">{{flow_compartment.name}}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>Flow Compartment &quot;{{ flow_compartment.name }}&quot;</h1>

            {% if flow_compartment.description %}
                <h2>Description</h2>
                <div class="dpmfa-pre-wrap">{{ flow_compartment.description }}</div>
            {% endif %}

            <h2>Properties</h2>

            <table class="table table-striped">
                <tr>
                    <th scope="row">Created at</th>
                    <td>{{ flow_compartment.evt_created }}</td>
                </tr>
                <tr>
                    <th scope="row">Changed at</th>
                    <td>{{ flow_compartment.evt_changed }}</td>
                </tr>
                <tr scope="row">
                    <th>Categories</th>
                    <td>{{ flow_compartment.categories }}</td>
                </tr>
                <tr scope="row">
                    <th>Adjust Outgoing TCs</th>
                    <td>{% if flow_compartment.adjust_outgoing_tcs %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr scope="row">
                    <th>Log inflows</th>
                    <td>{% if flow_compartment.log_inflows %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr scope="row">
                    <th>Log outflows</th>
                    <td>{% if flow_compartment.log_outflows %}Yes{% else %}No{% endif %}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}