{% extends "dpmfa/page.html" %}

{% block title %}
    {% if sink.pk %}
        Edit Sink &quot;{{sink.name}}&quot;
    {% else %}
        New Sink
    {% endif %}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' sink.model.project.pk %}">{{ sink.model.project.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' sink.model.pk %}">{{ sink.model.name }}</a></li>
                {% if sink.pk %}
                    <li class="breadcrumb-item"><a href="{% url 'dpmfa:sink-detail' sink.pk %}">{{ sink.name }}</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                {% else %}
                    <li class="breadcrumb-item active">New Sink</li>
                {% endif %}
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>
                {% if sink.pk %}
                    Edit Sink &quot;{{sink.name}}&quot;
                {% else %}
                    New Sink
                {% endif %}
            </h1>

            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}