{% extends "dpmfa/page.html" %}

{% block title %}Sink &quot;{{sink.name}}&quot;{% endblock %}

{% block body %}
<header>
</header>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' sink.model.project.pk %}">{{ sink.model.project.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' sink.model.pk %}">{{ sink.model.name }}</a></li>
              <li class="breadcrumb-item active">{{sink.name}}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>Sink &quot;{{ sink.name }}&quot;</h1>

            {% if sink.description %}
                <h2>Description</h2>
                <div class="dpmfa-pre-wrap">{{ sink.description }}</div>
            {% endif %}

            <h2>Properties</h2>

            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <th>Created at</th>
                    <td>{{ sink.evt_created }}</td>
                </tr>
                <tr>
                    <th>Changed at</th>
                    <td>{{ sink.evt_changed }}</td>
                </tr>
                <tr>
                    <th>Categories</th>
                    <td>{{ sink.categories }}</td>
                </tr>
                <tr>
                    <th>Log inflows</th>
                    <td>{% if sink.log_inflows %}Yes{% else %}No{% endif %}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}