{% extends "dpmfa/page.html" %}

{% block title %}
    {% if stock.pk %}
        Edit Stock &quot;{{stock.name}}&quot;
    {% else %}
        New Stock
    {% endif %}
{% endblock %}

{% block body %}
<header>
</header>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' stock.model.project.pk %}">{{ stock.model.project.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' stock.model.pk %}">{{ stock.model.name }}</a></li>
                {% if stock.pk %}
                    <li class="breadcrumb-item"><a href="{% url 'dpmfa:stock-detail' stock.pk %}">{{ stock.name }}</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                {% else %}
                    <li class="breadcrumb-item active">New Stock</li>
                {% endif %}
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>
                {% if stock.pk %}
                    Edit Stock &quot;{{stock.name}}&quot;
                {% else %}
                    New Stock
                {% endif %}
            </h1>

            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}