{% extends "dpmfa/page.html" %}

{% block title %}Stock &quot;{{stock.name}}&quot;{% endblock %}

{% block body %}
<header>
</header>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' stock.model.project.pk %}">{{ stock.model.project.name }}</a></li>
                {% if model.prototype_model %}
                	<li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' model.prototype_model.pk %}">{{ model.prototype_model.name }}</a></li>
                	<li class="breadcrumb-item"><a href="{% url 'dpmfa:model-instance-read-only' stock.model.pk %}">{{ stock.model.name }} ({{stock.model.pk}})</a></li>
                {% else %}
                	<li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' stock.model.pk %}">{{ stock.model.name }} </a></li>
                {% endif %}
              <li class="breadcrumb-item active">{{stock.name}}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>Stock &quot;{{ stock.name }}&quot;</h1>

            {% if stock.description %}
                <h2>Description</h2>
                <div class="dpmfa-pre-wrap">{{ stock.description }}</div>
            {% endif %}

            <h2>Properties</h2>

            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <th>Created at</th>
                    <td>{{ stock.evt_created }}</td>
                </tr>
                <tr>
                    <th>Changed at</th>
                    <td>{{ stock.evt_changed }}</td>
                </tr>
                <tr>
                    <th>Categories</th>
                    <td>{{ stock.categories }}</td>
                </tr>
                <tr>
                    <th>Adjust Outgoing TCs</th>
                    <td>{% if stock.adjust_outgoing_tcs %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Log inflows</th>
                    <td>{% if stock.log_inflows %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Log outflows</th>
                    <td>{% if stock.log_outflows %}Yes{% else %}No{% endif %}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}