{% extends "dpmfa/page.html" %}
{% load static %}

{% block title %}Delete Project &quot;{{project.name}}&quot;?{% endblock %}

{% block body %}

<header>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
              <li class="breadcrumb-item active">
                    Delete Project &quot;{{project.name}}&quot;?
              </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>Delete Project &quot;{{project.name}}&quot;?</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form action="" method="post">{% csrf_token %}
                <p>Are you sure you want to delete the project &quot;{{project.name}}&quot;?</p>
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
