{% extends "dpmfa/page.html" %}

{% block title %}
    {% if local_release.pk %}
        Edit Local Release &quot;{{local_release.name}}&quot;
    {% else %}
        New Local Release
    {% endif %}
{% endblock %}

{% block body %}
<header>
</header>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' 1 %}">
                {{ local_release.model.project.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' 1 %}">
                {{ local_release.model.name }}</a></li>
                {% if local_release.pk %}
                    <li class="breadcrumb-item"><a href="{% url 'dpmfa:local-release-detail' local_release.pk %}">
                    {{ local_release.name }}</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                {% else %}
                    <li class="breadcrumb-item active">New Local Release</li>
                {% endif %}
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>
                {% if local_release.pk %}
                    Edit Local Release &quot;{{local_release.name}}&quot;
                {% else %}
                    New Local Release
                {% endif %}
            </h1>
            <form method="POST" class="post-form">{% csrf_token %}
				{{ form.as_p }}
                <button type="submit" class="save btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}