{% extends "dpmfa/page.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}




<div class="container">
	<div id="toc_container">
		<p class="toc_title">Contents</p>
		<ul class="toc_list"">
			  <li><a href="#project">Project</a></li>
			  <li><a href="#model">Model</a></li>
			  <li><a href="#model-designer">Model designer</a></li>
				  <ul>
					    <li><a href="#uml-diagram">UML Diagram</a></li>
				  </ul>
			  <li><a href="#external-inflows">External inflow</a></li>
				  <ul>
					<li><a href="#external-list-inflow">External list inflow</a></li>
					    	<ul>
								<li><a href="#eli-target">Target</a></li>
								<li><a href="#eli-name">Name</a></li>
								<li><a href="#eli-start-delay">Start delay</a></li>
								<li><a href="#eli-derivation-distribution">Derivation distribution</a></li>
								<li><a href="#eli-derivation-parameters">Derivation parameters</a></li>
								<li><a href="#eli-derivation-factor">Derivation factor</a></li>
								<li><a href="#eli-single-period-inflows">Sinlge period inflows</a></li>
							</ul> 
					<li><a href="#external-function-inflow">External function inflow</a></li>
					    <ul>
								<li><a href="#efi-target">Target</a></li>
								<li><a href="#efi-name">Name</a></li>
								<li><a href="#efi-basic-inflow">Basic inflow</a></li>
								<li><a href="#efi-inflow-function">Inflow function</a></li>
								<li><a href="#efi-derivation-distribution">Derivation distribution</a></li>
								<li><a href="#efi-derivation-parameters">Derivation parameters</a></li>
								<li><a href="#efi-start-delay">Start delay</a></li>
						</ul> 
				 </ul>
				<li><a href="#single-period-inflow">Single period inflow</a></li>
			    	<ul>
						<li><a href="#spi-fixed-value-inflow">Fixed value inflow</a></li>
							<ul>
								<li><a href="#spi-value">Value</a></li>
							</ul>
						<li><a href="#spi-stochastic-inflow">Stochastic inflow</a></li>
							<ul>
								<li><a href="#spi-probability-distribution">Probability distribution function</a></li>
								<li><a href="#spi-probability-distribution-parameters">Probability distribution function parameters</a></li>
							</ul>
						
						<li><a href="#spi-random-choice-inflow">Random choice inflow</a></li>
					</ul> 
				<li><a href="#compartment">Compartment</a></li>
			    	<ul>
						<li><a href="#flow-compartment">Flow compartment</a></li>
							<ul>
								<li><a href="#fc-name">Name</a></li>
								<li><a href="#fc-transfers">Transfers</a></li>
								<li><a href="#fc-log-inflows">Log inflows</a></li>
								<li><a href="#fc-log-outflows">Log outflows</a></li>
								<li><a href="#fc-categories">Categories</a></li>
							</ul>
						<li><a href="#stock">Stock</a></li>
							<ul>
								<li><a href="#stock-name">Name</a></li>
								<li><a href="#stock-transfers">Transfers</a></li>
								<li><a href="#stock-local-release">Local release</a></li>
								<li><a href="#stock-log-inflows">Log inflows</a></li>
								<li><a href="#stock-log-outflows">Log outflows</a></li>
								<li><a href="#stock-categories">Categories</a></li>
							</ul>
						<li><a href="#sink">Sink</a></li>
							<ul>
								<li><a href="#sink-name">Name</a></li>
								<li><a href="#sink-log-inflows">Log inflows</a></li>
								<li><a href="#sink-categories">Categories</a></li>
							</ul>
					</ul> 
				<li><a href="#transfer">Transfer</a></li>
			    	<ul>
						<li><a href="#constant-transfer">Constant transfer</a></li>
						<li><a href="#random-choice-transfer">Random choice transfer</a></li>
						<li><a href="#stochastic-transfer">Stochastic transfer</a></li>
						<li><a href="#aggregated-transfer">Aggregated transfer</a></li>
					</ul> 
			</li>
		</ul>
	</div>

	<h1 id="project">Project</h1>
		<p>A is a container where you can organize all information of a specific project. 
		In particluar it contains all the <a href="#model">models</a> of a project. Before you can create and configure a model you have to create a project.
		Refer to the <a href="{% url 'dpmfa:quick-reference' %}">quick reference</a> for instructions on how to create a project</p>
	
	<h1 id="model">Model</h1>
		<p>The model is the most important entity. Once you have created a project you can create a new model. The configuration of a model is
		a process that is done in three sequential steps:</p>
		<ol>
			<li>Use the <a href="#model-designer">Model Designer</a> to construct the material flow you are interested in</li>
			<li>Check the parametrization to validate your inputs.</li>
			<li>Create an <a href="#experiment">experiment</a> to run the model configuration</li>
		</ol> 
		<p>You can iterate over this steps as many times as you want.</p>
		<p>The model itself is actually a template for your experiments. This allows you to rearrange the entities your model consists of.
		Each time you create a new experiment the current current state of the model designer and all the parameters of the model will be copied
		and attached to the experiment. It is important to notice that copy created for the experiment is read only. This ensures that the results
		of an experiment will always correspond to its design and parameters.</p>
		<p>For more details have a look at the description of <a>experiment</a></p>
	
	<h1 id="model-designer">Model designer</h1>
		<p>The model designer is where you can design your model. Here you can add entities and link them with the various kinds of transfers</p>
		<p>In particluar you can add the following entites to create you material flow model:</p>
		<p>Inflows to the system:</p>
			<ul>
				<li><a href="#external-list-inflow">External list inflows</a></li>
				<li><a href="#external-function-inflow">External function inflows</a></li>
			</ul>
		<p>Compartments of the system:</p>
			<ul>
				<li><a href="#sink">Sink</a></li>
				<li><a href="#flow-compartment">Flow Compartment</a></li>
				<li><a href="#stock">Stock</a></li>
			</ul>
		<p>You can link those entites with these kinds of transfers:</p>
			<ul>
				<li><a href="#constant-transfer">Constant transfer</a></li>
				<li><a href="#random-choice-transfer">Random choice transfer</a></li>
				<li><a href="#stochastic-transfer">Stochastic transfer</a></li>
				<li><a href="#aggregated-transfer">Aggregated transfer</a></li>
			</ul>
		<p id="uml-diagram">If you are familiar with UML class diagrams, the you might find the following diagram helpful as an overview:</p>
			<img src="{% static 'dpmfa/img/uml_diagram.png' %}" style="width:80%;height:10%;">
	
	<h1 id="external-inflows">External inflow</h1>
	
		<p>External inflows are used to model inflow of material into the system. Ther are two distinct types of external inflows:</p>
		<ul>
			<li><a href="#external-list-inflow">External list inflows</a></li>
			<li><a href="#external-function-inflow">External function inflows</a></li>
		</ul>
		
		<h2 id="external-list-inflow">External list inflow</h2>
			<p>The external list inflow lets you configure a <a href="#single-period-inflow">sinlge period inflow</a> for each period of your <a href="#simulation">simulation</a>. Each single period
			inflow can be one of the following three types:</p>
			<ul>
				<li><a href="#fixed-value-inflow">Fixed value inflow</a></li>
				<li><a href=#stochastic-inflow">Stochastic inflow</a></li>
				<li><a href="#random-choice-inflow">Random choice inflow</a></li>
			</ul>
			
			<p>In particular you can edit the following parameters for each external list inflow:</p>
			<ul>
				<li><a href="#eli-target">Target</a></li>
				<li><a href="#eli-name">Name</a></li>
				<li><a href="#eli-start-delay">Start delay</a></li>
				<li><a href="#eli-derivation-distribution">Derivation distribution</a></li>
				<li><a herf="#eli-derivation-parameters">Derivation parameters</a></li>
				<li><a href="#eli-derivation-factor">Derivation factor</a></li>
				<li><a href="#eli-single-period-inflows">Single periods inflows</a></li>
			</ul> 
			
			<h3 id="eli-target">Target</h3>
				<p>The target represents the compartment (i.e. Flow compartment, sink or stock) the material flows to. You can specify
				only one targe for each external list inflow. Please refer to the quick reference to see how you can specify a target.</p>
			
			<h3 id="eli-name">Name</h3>
				<p>The name of the external list inflow.</p>
				
			<h3 id="eli-start-delay">Start delay</h3>
				<p>The delay indicates after how many periods of you simulation the external list inflow will start to transfer material. E.g.
				if your simulation has 10 periods and you configure the start delay to 3, the external list inflow will transfer material
				from period 3 up to period 10.</p>
			
			<h3 id="eli-derivation-distribution">Derivation distribution</h3>
				<p>The derivation distribution is optional.</p>
				<p>If a derivation distribution is definted, it is used to sample a derivation factor which in turn is used to determine
				the derivation factor in each period. The derivation factor is then multiplied by the value the single period inflow of
				the current period.</p>
				
			<h3 id="eli-derivation-parameters">Derivation parameters</h3>
				<p>The derivation parameters are the argument used by the derivation distribution function to determine the derivation factor.</p>
			
			<h3 id="eli-derivation-factor">Derivation factor</h3>
				<p>The derivation factor is used to adjust the material inflow in each period i.e. the inflow value of each period
				is multiplied by the derivation factor which is being sampled for each period.
				
			<h3 id="eli-single-period-inflows">Sinlge period inflows</h3>
				<p>A single period inflow represents the material inflow for a given period. This means that in an external list inflow you have to 
				specify one sinlge period inflow for each period.</p>
				<p>Each single period inflow can be of one of three types:
					<ul>
						<li>Fixed value inflow</li>
						<li>Stochastic inflow</li>
						<li>Random choice inflow</li>
					</ul>
				<p>Please refer to single period inflow for more details.</p>
				
		<h2 id="external-function-inflow">External function inflow</h2>
			<p>The external function inflow lets you define the inflow to the system as a function. For this you have to provide a basic inflow i.e.
			one of the types of sinlge period inlfows or a number (which then will be converted to a single period inflow).
			<p>In particular you can edit the following parameters for each external list inflow:</p>
				<ul>
					<li><a href="#efi-trage">Target</a></li>
					<li><a href="#efi-name">Name</a></li>
					<li><a href="#efi-basic-inflow">Basic inflow</a></li>
					<li><a href="#efi-inflow-function">Inflow function</a></li>
					<li><a href="#efi-derivation-distribution">Derivation distribution</a></li>
					<li><a href="#efi-derivation-parameters">Derivation parameters</a></li>
					<li><a href="#efi-start-delay">Start delay</a></li>
				</ul>
				
			<h3 id="efi-target">Target</h3>
				<p>The target represents the compartment (i.e. Flow compartment, sink or stock) the material flows to. You can specify
				only one targe for each external list inflow. Please refer to the quick reference to see how you can specify a target.</p>
				
			<h3 id="efi-name">Name</h3>
				<p>The name of the external list inflow.</p>
			
			<h3 id="efi-basic-inflow">Basic inflow</h3>
				<p>The basic inflow represents the initial inflow to the system. It is only used in the first period of the simualton. 
				The inflow function uses this inflow to calculate the base value that is then used as an input to the inflow function. 
				It can be either one of the three single period inflow types (i.e. fixed value, stochastic, random choice) or a number
				that represents the amount material	that flows into the system.</p>
					
			<h3 id="efi-inflow-function">Inflow function</h3>
				<p>The inflow function returns a material amount as inflow for a specific period. The inputs to this function are a basic value 
				and the current period number. If no input function is defined, the basic value is used for all periods.
				
				<p>In particular you can choose between the following inflow function:</p>
					<ul>
						<li>Linear function</li>
					</ul>
				
			<h3 id="efi-derivation-distribution">Derivation distribution</h3>
				<p>The derivation distribution is a probability distribution (from scipy.stats) that is used 
				to represent uncertain knowledge about the true value of the model inflows. The derivation
				is calculated once per simulation run and applied to the whole inflow list</p>
				
				<p>In particular you can choose between the following probability distributions:</p>
					<ul>
						<li>Normal distribution</li>
						<li>Geometric distribution</li>
						<li>Binomial distribution</li>
						<li>Exponential distribution</li>
						<li>Triangular distribution</li>
						<li>Uniform distributio</li>
						<li>Gamma distribution</li>
						<li>Pareto distribution</li>
						<li>Poisson distribution</li>
						<li>Chisquare distribution</li>
					</ul>
			
			<h3 id="efi-derivation-parameters">Derivation parameters</h3>
				<p>The derivation parameters represent the input values needed to specify the choosen probability distribution (e.g. for
				a normal distribution: mean, variance).</p>
				
			<h3 id="efi-start-delay">Start delay</h3>
				<p>The start delay represents a time lage between the simulation start and the first release from the source</p>
			
	<h1 id="single-period-inflow">Single period inflow</h1>
		<p>A single inflow represents the inflow of material to the model in one single period. You can not acctually add a single period inflow
		to the model since this is an abstract concept that represents the different kinds of inflows you can add to the model. These are in particular:</p>
		<ul>
			<li><a href="#spi-fixed-value-inflow">Fixed value inflow</a></li>
			<li><a href="#spi-stochastic-inflow">Stochastic inflow</a></li>
			<li><a href="#spi-random-choice-inflow">Random choice inflow</a></li>
		</ul>
			
			<h2 id="spi-fixed-value-inflow">Fixed value inflow</h2>
				<p>The fixed value inflow represents an inflow amount to a compartment for one specific period.This kind of inflow is used to represent certainty
				about the true value of this inflow. The fixed value inflow has one parameter:</p>
			<ul>
				<li><a href="#spi-value">Value</a></li>
			</ul>
			
			<h3 id="spi-value">Value</h3>
				<p>The value represents the inflow value</p>
					
			<h2 id="spi-stochastic-inflow">Stochastic inflow</h2>
				<p>A stochastic inflow represents an inflow to a compartment of one period. This kind of inflow
				is used to represent uncertainty about the true value of this inflow. The uncertainty is modeled by
				a probability distribution function. The stochastic inflow has the following parameters:</p>
				
				<ul>
					<li><a href="#spi-probability-distribution">Probability distribution</a></li>
					<li><a href="#spi-probability-distribution-parameters">Probability distribution parameters</a></li>
				</ul>
				
			<h3 id="spi-probability-distribution">Probability distribution</h3>
				<p>Probability distribution to represent uncertain knowledge about the true value of the inflow</p>
				
				<p>In particular you can choose between the following distributions:</p>
				
				<ul>
					<li>Normal distribution</li>
					<li>Geometric distribution</li>
					<li>Binomial distribution</li>
					<li>Exponential distribution</li>
					<li>Triangular distribution</li>
					<li>Uniform distributio</li>
					<li>Gamma distribution</li>
					<li>Pareto distribution</li>
					<li>Poisson distribution</li>
					<li>Chisquare distribution</li>
				</ul>
			
			<h3 id="spi-probability-distribution-parameters">Probability distribution parameters</h3>
				<p>Parameter list of the distribution function.</p>
		
		<h2 id="spi-random-choice-inflow">Random choice inflow</h2>
			<p>A random choice inflow represents an inflow to a compartment of one period. This kind of inflow
			is used to represent uncertainty about the true value of this inflow. The uncertainty is modeled
			as a sample representing the assumptions about the true value. For each run, one element of the sample
			is randomly drawn and used as inflow for the current period.
			</p>
			
			<p>The random choice inflow has the following parameter:</p>
			
			<ul>
				<li>Sample</li>
			</ul>
			
			<h3 id="spi-sample">Sample</h3>
				<p>Sample to draw a random value from.</p>
			
			
	<h1 id="compartment">Compartment</h1>
		<p>A compartment is a distinct area of the investigated system. Depending on the scientific question to be 
		aswered with the model, a compartment can be an environmental media, a geographic region or a logical partition
		in the fate of a material</p>
		
		<p>You can not acctually add a compartment to the model since this is an abstract concept that represents the different 
		kinds of compartments you can add to the model. These are in particular:</p>
		
		<ul>
			<li><a href="#flow-compartment">Flow Compartment</a></li>
			<li><a href="stock">Stock</a></li>
			<li><a href="sink">Sink</a></li>
		</ul>
		
		<h2 id="flow-compartment">Flow compartment</h2>
			<p>A flow compartment represents a system compartment without residence time of observed material. 
			The further transfer of material to subsequent compartments is defined using Transfer objects.</p>
			
			<p>In particular you can edit the following parameters for a flow compartment:</p>
			
			<ul>
				<li><a href="#fc-name">Name</a></li>
				<li><a href="#fc-transfers">Transfers</a></li>
				<li><a href="#fc-log-inflows">Log inflows</a></li>
				<li><a href="#fc-log-outflows">Log outflows</a></li>
				<li><a href="#fc-categories">Categories</a></li>
			</ul>
			
			<h3 id="fc-name">Name</h3>
				<p>The name of the flow compartment.</p> 
			
			<h3 id="fc-transfers">Transfers</h3>
				<p>The transfers represent all outgoing transfers to other compartments</p>
			
				<p>In particular you can choose between the following transfers:</p>
				
					<ul>
						<li><a href="#constant-transfer">Constant transfer</a></li>
						<li><a href="#random-choice-transfer">Random choice transfer</a></li>
						<li><a href="#stochastic-transfer">Stochastic transfer</a></li>
						<li><a href="#aggregated-transfer">Aggregated transfer</a></li>
					</ul>
					
				<p>Please refer to the <a href="#transfer">transfer</a> section for more details.</p>
			
			<h3 id="fc-log-inflows">Log inflows</h3>
				<p>Indicates whether the inflows to this flow compartment should be stored or not. If it is not checked, the results will not contain
				the material inflows of this flow compartment.</p>
			
			<h3 id="fc-log-outflows">Log outflows</h3>
				<p>Indicates whether the outflows of this flow compartment should be stored or not. If it is not checked, the results will not contain
				the material outflows of this flow compartment.</p>
			
			<h3 id="fc-categories">Categories</h3>
				<p>You can define a list of categories the flow compartment is part of (for later evaluation)</p>
			
		<h2 id="stock">Stock</h2>
			<p>A Stock is a Compartment that accumulates material like sinks do, but it also releases a part of
			the stored material in later periods. You can specify the material release by configuring a local release. 
			</p>
			
			<p>In particular you can edit the following parameters for a stock:</p>
			
				<ul>
					<li><a href="#stock-name">Name</a></li>
					<li><a href="#stock-transfers">Transfers</a></li>
					<li><a href="#stock-local-release">Local release</a></li>
					<li><a href="#stock-log-inflows">Log inflows</a></li>
					<li><a href="#stock-log-outflows">Log outflows</a></li>
					<li><a href="#stock-categories">Categories</a></li>
				</ul>
			
			<h3 id="stock-name">Name</h3>
				<p>The name of the stock.</p> 
				
			<h3 id="stock-transfers">Transfers</h3>
				<p>The transfers represent all outgoing transfers to other compartments</p>
				
				<p>In particular you can choose between the following transfers:</p>
				
					<ul>
						<li><a href="#constant-transfer">Constant transfer</a></li>
						<li><a href="#random-choice-transfer">Random choice transfer</a></li>
						<li><a href="#stochastic-transfer">Stochastic transfer</a></li>
						<li><a href="#aggregated-transfer">Aggregated transfer</a></li>
					</ul>
					
				<p>Please refer to the <a href="#transfer">transfer</a> section for more details.</p>
				
			<h3 id="stock-local-release">Local release</h3>
				<p>A local release defines which proportions of the amount of material stored in the stock
				are released in which of the subsequent periods. Each stock has exactly one local release. </p>
	        
				<p>In particular you can configure the following different types of local releases:</p>
				
					<ul>
						<li><a href="#fixed-rate-release">Fixed rate release</a></li>
						<li><a href="#list-release">List release</a></li>
						<li><a href="#function-release">Function release</a></li>
					</ul>
				
				<p>Please refer to the <a href="#local-release">local release</a> section for further details about the individual release types.</p>
				
			<h3 id="stock-log-inflows">Log inflows</h3>
				<p>Indicates whether the inflows to this stock should be stored or not. If it is not checked, the results will not contain
				the material inflows to this stock.</p>
				
			<h3 id="stock-log-outflows">Lgo outflows</h3>
				<p>Indicates whether the outflows of this stock should be stored or not. If it is not checked, the results will not contain
				the material outflows of this stock.</p>
				
			<h3 id="stock-categories">Categories</h3>
				<p>You can define a list of categories the flow compartment is part of (for later evaluation)</p>
			
		<h2 id="sink">Sink</h2>
			<p>A model compartment where inflowing material accumulates i.e. a sink is an endpoint 
			of the material flow.</p>
			
			<p>In particular you can edit the following parameters for a sink:</p>
			
				<ul>
					<li><a href="#sink-name">Name</a></li>
					<li><a href="#sink-log-inflows">Log inflows</a></li>
					<li><a href="#sink-categories">Categories</a></li>
				</ul>
		
			<h3 id="sink-name">Name</h3>
				<p>The name of the sink.</p> 
		
			<h3 id="sink-log-inflows">Log inflows</h3>
				<p>Indicates whether the inflows to this sink should be stored or not. If it is not checked, the results will not contain
				the material inflows to this sink.</p>
		
			<h3 id="sink-categories">Categories</h3>
				<p>You can define a list of categories the sink is part of (for later evaluation)</p>
			
	<h1 id="local-release">Local release</h1>
		<p>Describes after what period how much of the material stored is released from stock. To use, implement subclasses.</p>
		
		<p>You can choose between the following subclasses:</p>
			<ul>
				<li>List release</li>
			</ul>
	
		<h2 id="fixed-rate-release">Fixed rate release</h2>
		
		
		<h2 id="list-release">List release</h2>
		<h2 id="function-release">Function release</h2>
	
	
	<h1 id="transfer">Transfer</h1>
		<h2 id="constant-transfer">Constant transfer</h2>
		<h2 id="random-choice-transfer">Random choice transfer</h2>
		<h2 id="stochastic-transfer">Stochastic transfer</h2>
		<h2 id="aggregated-transfer">Aggregated transfer</h2>
			
</div>

{% endblock %}