${% extends "dpmfa/page.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>Welcome, User!</h1>
      <p>This is the home page of our app. Here you will find infos and links. <p>
      </p>Go to your projects:</p>
      <p><a class="btn btn-primary btn-lg" href="{% url 'dpmfa:project-list' %}" role="button">My Projects</a></p>
    </div>

    <!-- Alerts -->
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">An info alert. Very informative.</div>
            <div class="alert alert-success">A success alert. Very successful.</div>
            <div class="alert alert-danger">A danger alert. Here would be an error message.</div>
        </div>
    </div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <p>
                    My
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    is on
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}