{% extends "dpmfa/page.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron-fluid">
    
    <h1>First steps</h1>
    	<p>In the top bar you can see the links you most likely will use frequently when working with this app.If you are new to the App you might
    	want to check out the documentation or the quick reference:</p>
    		
    		<ul>
    			<li><a href="{% url 'dpmfa:documentation' %}">documentation</a></li>
    			<li><a href="{% url 'dpmfa:quick-reference' %}">quick reference</a></li>
    	 	</ul>
    	 	
    	 
    <h1>Go to projects</h1>
    	 	
	    <p><a class="btn btn-primary btn-lg" href="{% url 'dpmfa:project-list' %}" role="button">My Projects</a></p>
    
    <h1>Underlying code of the App</h1>
    	<p>This WebApp is based on the python package <a href="https://pypi.python.org/pypi/dpmfa-simulator">dpmfa</a> written by Klaus Bornhoft. 
    
    <h1>Underlying method of the App</h1>
    	<p>The <a href="https://pypi.python.org/pypi/dpmfa-simulator">python package</a> implements the the dynamic probabilistic material flow modeling method as it was intorduced by Klaus Bornhoft in the article you can find <a href="http://www.sciencedirect.com/science/article/pii/S1364815215301018">here.</a></p>
    </div>
</div>
{% endblock %}