{% extends "dpmfa/page.html" %}
{% load class_tag %}
{% load prepend %}
{% load underline_to_minus %}
{% load underline_to_ws %}

{% block title %}External Function Inflow &quot;{{external_function_inflow.name}}&quot;{% endblock %}

{% block body %}
<header>
</header>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' project.pk %}">{{ project.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' model.pk %}">{{ model.name }}</a></li>
              <li class="breadcrumb-item active">{{external_function_inflow.name}}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>External Function Inflow &quot;{{ external_function_inflow.name }}&quot;</h1>

            {% if external_function_inflow.description %}
                <h2>Description</h2>
                <div class="dpmfa-pre-wrap">{{ external_function_inflow.description }}</div>
            {% endif %}

            <h2>Properties</h2>

            <table class="table table-striped">
                <tr>
                    <th scope="row" class="dpmfa-td-30-top">Inflow function</th>
                    <td>{{ external_function_inflow.inflow_function }}</td>
                </tr>
                <tr>
                    <th scope="row">Inflow parameters</th>
                    <td>{{ external_function_inflow.function_parameters }}</td>
                </tr>
                <tr>
                    <th scope="row">Basic inflow</th>
                    <td>{{ external_function_inflow.basic_inflow }}</td>
                </tr>
                <tr>
                    <th scope="row">Start Delay</th>
                    <td>{{ external_function_inflow.start_delay }}</td>
                </tr>
                <tr>
                    <th scope="row">Derivation Distribution</th>
                    <td>{{ external_function_inflow.derivation_distribution }}</td>
                </tr>
                <tr>
                    <th scope="row">Derivation Parameters</th>
                    <td>{{ external_function_inflow.derivation_parameters }}</td>
                </tr>
                <tr>
                    <th scope="row">Derivation Factor</th>
                    <td>{{ external_function_inflow.derivation_factor }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}