{% extends "dpmfa/page.html" %}
{% load class_tag %}
{% load prepend %}
{% load underline_to_minus %}
{% load underline_to_ws %}

{% block title %}External List Inflow &quot;{{external_list_inflow.name}}&quot;{% endblock %}

{% block body %}
<header>
</header>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' external_list_inflow.target.model.project.pk %}">{{ external_list_inflow.target.model.project.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' external_list_inflow.target.model.pk %}">{{ external_list_inflow.target.model.name }}</a></li>
              <li class="breadcrumb-item active">{{external_list_inflow.name}}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>External List Inflow &quot;{{ external_list_inflow.name }}&quot;</h1>

            {% if external_list_inflow.description %}
                <h2>Description</h2>
                <div class="dpmfa-pre-wrap">{{ external_list_inflow.description }}</div>
            {% endif %}

            <h2>Properties</h2>

            <table class="table table-striped">
                <tr>
                    <th>Start Delay</th>
                    <td>{{ external_list_inflow.start_delay }}</td>
                </tr>
                <tr>
                    <th>Derivation Distribution</th>
                    <td>{{ external_list_inflow.derivation_distribution }}</td>
                </tr>
                <tr>
                    <th>Derivation Parameters</th>
                    <td>{{ external_list_inflow.derivation_parameters }}</td>
                </tr>
                <tr>
                    <th>Derivation Factor</th>
                    <td>{{ external_list_inflow.derivation_factor }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}