{% extends "dpmfa/page.html" %}

{% block title %}
    Delete External List Inflow {{external_list_inflow.name}}?
{% endblock %}

{% block body %}
<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand" href="#">
                Delete External List Inflow for Period {{external_list_inflow.name}}?
          </span>
        </div>
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </nav>
</header>




<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' external_list_inflow.target.model.project.pk %}">{{ external_list_inflow.target.model.project.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' external_list_inflow.target.model.pk %}">{{ external_list_inflow.target.model.name }}</a></li>
                
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:external-list-inflow-detail' external_list_inflow.pk %}">External List Inflow {{ external_list_inflow.name }}</a></li>
                <li class="breadcrumb-item active">Delete?</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>
                Delete External List Inflow {{external_list_inflow.name}}?
            </h1>

            <form method="POST" class="post-form">{% csrf_token %}
                
                <button type="submit" class="save btn btn-default">Confirm</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}