{% extends "dpmfa/page.html" %}
{% load class_tag %}
{% load prepend %}
{% load underline_to_minus %}
{% load underline_to_ws %}

{% block title %}External List Inflow &quot;{{external_list_inflow.name}}&quot;{% endblock %}

{% block body %}
<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand" href="#">
                External List Inflow &quot;{{external_list_inflow.name}}&quot;
          </span>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'dpmfa:external-list-inflow-update' external_list_inflow.pk %}" data-toggle="tooltip" title="Edit">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Edit
                </a>
            </li>
            <li>
                 <a href="{% url 'dpmfa:external-list-inflow-delete' external_list_inflow.pk %}" data-toggle="tooltip" title="Delete">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Delete
                </a>
            </li>
        </ul>
      </div>
    </nav>
</header>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' external_list_inflow.target.model.project.pk %}">{{ external_list_inflow.target.model.project.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' external_list_inflow.target.model.pk %}">{{ external_list_inflow.target.model.name }}</a></li>
              <li class="breadcrumb-item active">{{external_list_inflow.name}}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>External List Inflow &quot;{{ external_list_inflow.name }}&quot;</h1>

            {% if external_list_inflow.description %}
                <h2>Description</h2>
                <div class="dpmfa-pre-wrap">{{ external_list_inflow.description }}</div>
            {% endif %}

            <h2>Properties</h2>

            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <th>Start Delay</th>
                    <td>{{ external_list_inflow.start_delay }}</td>
                </tr>
                <tr>
                    <th>Derivation Distribution</th>
                    <td>{{ external_list_inflow.derivation_distribution }}</td>
                </tr>
                <tr>
                    <th>Derivation Parameters</th>
                    <td>{{ external_list_inflow.derivation_parameters }}</td>
                </tr>
                <tr>
                    <th>Derivation Factor</th>
                    <td>{{ external_list_inflow.derivation_factor }}</td>
                </tr>
            </table>

            <h2>Single Period Inflows</h2>

            <p>
                <a href="{% url 'dpmfa:fixed-value-inflow-create' external_list_inflow.pk last_period %}" class="btn btn-default" data-toggle="tooltip" title="Create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    New Fixed Value Inflow
                </a>
                <a href="{% url 'dpmfa:random-choice-inflow-create' external_list_inflow.pk last_period %}" class="btn btn-default" data-toggle="tooltip" title="Create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    New Random Choice Inflow
                </a>
                <a href="{% url 'dpmfa:stochastic-function-inflow-create' external_list_inflow.pk last_period %}" class="btn btn-default" data-toggle="tooltip" title="Create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    New Stochastic Function Inflow
                </a>
            </p>

            {% if single_period_inflows %}
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Period</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for single_period_inflow in single_period_inflows %}
                           <tr>
                               <td>{{ single_period_inflow.period }}</td>
                               <td>{{ single_period_inflow|get_class|underline_to_ws|title }}</td>
                               <td>
                                    <a href="{% url single_period_inflow|get_class|underline_to_minus|add:'-detail'|prepend:'dpmfa:' single_period_inflow.pk %}" class="btn btn-default" data-toggle="tooltip" title="Go to single period inflow">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url single_period_inflow|get_class|underline_to_minus|add:'-update'|prepend:'dpmfa:' single_period_inflow.pk %}" class="btn btn-default" data-toggle="tooltip" title="Edit">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url single_period_inflow|get_class|underline_to_minus|add:'-delete'|prepend:'dpmfa:' single_period_inflow.pk %}" class="btn btn-default" data-toggle="tooltip" title="Delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                     <a href="{% url 'dpmfa:fixed-value-inflow-create' external_list_inflow.pk single_period_inflow.period %}" class="btn btn-default" data-toggle="tooltip" title="Insert fixed value inflow">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:random-choice-inflow-create' external_list_inflow.pk single_period_inflow.period %}" class="btn btn-default" data-toggle="tooltip" title="Insert random choice inflow">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:stochastic-function-inflow-create' external_list_inflow.pk single_period_inflow.period %}" class="btn btn-default" data-toggle="tooltip" title="Insert stochastic function inflow">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </a>
                               </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">There are no single period inflows.</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}