{% extends "dpmfa/page.html" %}

{% block title %}
    {% if random_choice_inflow.pk %}
        Edit Random Choice Inflow for Period {{random_choice_inflow.period}}
    {% else %}
        New Random Choice Inflow
    {% endif %}
{% endblock %}

{% block body %}
<header>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' external_list_inflow.target.model.project.pk %}">{{ external_list_inflow.target.model.project.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' external_list_inflow.target.model.pk %}">{{ external_list_inflow.target.model.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:external-list-inflow-detail' external_list_inflow.pk %}">{{ external_list_inflow.name }}</a></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>
                {% if random_choice_inflow.pk %}
                    Edit Random Choice Inflow for Period {{random_choice_inflow.period}}
                {% else %}
                    New Random Choice Inflow
                {% endif %}
            </h1>

            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}