{% extends "dpmfa/page.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}

<!-- Navigation -->
<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">DPMFA</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
</nav>
</header>

<div class="container">

    <!-- Alerts -->
    <div class="alert alert-info">An info alert. Very informative.</div>
    <div class="alert alert-success">A success alert. Very successful.</div>
    <div class="alert alert-danger">A danger alert. Here would be an error message.</div>


    <h1>Home</h1>

    <h2>Example Use of Bootstrap Grid System</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            </p>
            <p>
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                duo dolores et ea rebum.
            </p>
            <p>
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>This is the right column. For small windows sizes the two columns are vertically stacked</p>

            <p>Here some icons
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
            </p>

            <p>Columns and rows can also be nested. Have a look at the Bootstrap grid system.</p>
        </div>
    </div>

    <h2>Accordion</h2>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            Collapsible Group 1</a>
          </h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            Collapsible Group 2</a>
          </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            Collapsible Group 3</a>
          </h3>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
      </div>
    </div>

    <h2>More...</h2>

    You can find many more Bootstrap components (like slide shows, overlays, forms, ...) e.g. here:

    <ul>
        <li><a href="http://getbootstrap.com/components/">Bootstrap Components</a></li>
        <li><a href="https://www.w3schools.com/bootstrap/default.asp">Bootstrap Tutorial</a></li>
    </ul>

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6"><p>Bla bla</p></div>
            <div class="col-xs-12 col-sm-6">
                <p>
                    My
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    is on
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}