{% extends "dpmfa/page.html" %}
{% load static %}

{% block title %}Model: &quot;{{model.name}}&quot;{% endblock %}

{% block body %}
<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand" href="#">
                Model &quot;{{model.name}}&quot;
          </span>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url "dpmfa:model-update" model.pk %}" data-toggle="tooltip" title="Edit name / description">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Edit Name/Description
                </a>
            </li>
            <li>
                 <a href="{% url "dpmfa:model-delete" model.pk %}" data-toggle="tooltip" title="Delete model">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Delete Model
                </a>
            </li>
        </ul>
      </div>
    </nav>
</header>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' model.project.pk %}">{{ model.project.name }}</a></li>
              <li class="breadcrumb-item active">{{model.name}}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>Model &quot;{{ model.name }}&quot;</h1>

            {% if model.description %}
                <div class="dpmfa-pre-wrap">{{ model.description }}</div>
            {% endif %}

            <h2>Model Structure</h2>

            <div class="dpmfa-model-designer">
		    </div>

            <p><a href="#" class="btn btn-default">
                <img src="{% static 'dpmfa/img/structure_24.png' %}" />
                View/Edit Structure
            </a></p>

            <h2>Parametrization</h2>

            <h2>Accordion</h2>

            <h3>Compartments</h3>

            <h4>Flow Compartments</h4>

            {% if flow_compartments %}
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flow_compartment in flow_compartments %}
                           <tr>
                               <td><a href="{% url 'dpmfa:flow-compartment-detail' flow_compartment.pk %}">{{ flow_compartment.name }}</a></td>
                               <td class="dpmfa-pre-wrap">{{ flow_compartment.description }}</td>
                               <td>
                                    <a href="{% url 'dpmfa:flow-compartment-detail' flow_compartment.pk %}" class="btn btn-default" data-toggle="tooltip" title="Go to flow compartment">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:flow-compartment-update' flow_compartment.pk %}" class="btn btn-default" data-toggle="tooltip" title="Edit">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:flow-compartment-delete' flow_compartment.pk %}" class="btn btn-default" data-toggle="tooltip" title="Delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                               </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">There are no flow compartments.</div>
            {% endif %}

            <h4>Stocks</h4>

            {% if stocks %}
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stocks %}
                           <tr>
                               <td><a href="{% url 'dpmfa:stock-detail' stock.pk %}">{{ stock.name }}</a></td>
                               <td class="dpmfa-pre-wrap">{{ stock.description }}</td>
                               <td>
                                    <a href="{% url 'dpmfa:stock-detail' stock.pk %}" class="btn btn-default" data-toggle="tooltip" title="Go to stock">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:stock-update' stock.pk %}" class="btn btn-default" data-toggle="tooltip" title="Edit">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:stock-delete' stock.pk %}" class="btn btn-default" data-toggle="tooltip" title="Delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                               </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">There are no stocks.</div>
            {% endif %}

            <h4>Sinks</h4>

            {% if sinks %}
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sink in sinks %}
                           <tr>
                               <td><a href="{% url 'dpmfa:sink-detail' sink.pk %}">{{ sink.name }}</a></td>
                               <td class="dpmfa-pre-wrap">{{ sink.description }}</td>
                               <td>
                                    <a href="{% url 'dpmfa:sink-detail' sink.pk %}" class="btn btn-default" data-toggle="tooltip" title="Go to sink">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:sink-update' sink.pk %}" class="btn btn-default" data-toggle="tooltip" title="Edit">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:sink-delete' sink.pk %}" class="btn btn-default" data-toggle="tooltip" title="Delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                               </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">There are no sinks.</div>
            {% endif %}

            <h3>External Inflows</h3>

            <h4>External List Inflows</h4>

            {% if external_list_inflows %}
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for external_list_inflow in external_list_inflows %}
                           <tr>
                               <td><a href="{% url 'dpmfa:external-list-inflow-detail' external_list_inflow.pk %}">{{ external_list_inflow.name }}</a></td>
                               <td class="dpmfa-pre-wrap">{{ external_list_inflow.description }}</td>
                               <td>
                                    <a href="{% url 'dpmfa:external-list-inflow-detail' external_list_inflow.pk %}" class="btn btn-default" data-toggle="tooltip" title="Go to external list inflow">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                               </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">There are no external list inflows.</div>
            {% endif %}

            <h4>External Function Inflows</h4>

            {% if external_function_inflows %}
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for external_function_inflow in external_function_inflows %}
                           <tr>
                               <td><a href="{% url 'dpmfa:external-function-inflow-detail' external_function_inflow.pk %}">{{ external_function_inflow.name }}</a></td>
                               <td class="dpmfa-pre-wrap">{{ external_function_inflow.description }}</td>
                               <td>
                                    <a href="{% url 'dpmfa:external-function-inflow-detail' external_function_inflow.pk %}" class="btn btn-default" data-toggle="tooltip" title="Go to external function inflow">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                               </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">There are no external function inflows.</div>
            {% endif %}

            <h3>Transfers</h3>

            <h4>Constant Transfers</h4>

            {% if constant_transfers %}
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for constant_transfer in constant_transfers %}
                           <tr>
                               <td><a href="{% url 'dpmfa:constant-transfer-detail' constant_transfer.pk %}">{{ constant_transfer.name }}</a></td>
                               <td class="dpmfa-pre-wrap">{{ constant_transfer.description }}</td>
                               <td>
                                    <a href="{% url 'dpmfa:constant-transfer-detail' constant_transfer.pk %}" class="btn btn-default" data-toggle="tooltip" title="Go to constant transfer">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:constant-transfer-update' constant_transfer.pk %}" class="btn btn-default" data-toggle="tooltip" title="Edit">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:constant-transfer-delete' constant_transfer.pk %}" class="btn btn-default" data-toggle="tooltip" title="Delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                               </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">There are no constant transfers.</div>
            {% endif %}

            <h4>Random Choice Transfers</h4>

            {% if random_choice_transfers %}
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for random_choice_transfer in random_choice_transfers %}
                           <tr>
                               <td><a href="{% url 'dpmfa:random-choice-transfer-detail' random_choice_transfer.pk %}">{{ random_choice_transfer.name }}</a></td>
                               <td class="dpmfa-pre-wrap">{{ random_choice_transfer.description }}</td>
                               <td>
                                    <a href="{% url 'dpmfa:random-choice-transfer-detail' random_choice_transfer.pk %}" class="btn btn-default" data-toggle="tooltip" title="Go to random choice transfer">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:random-choice-transfer-update' random_choice_transfer.pk %}" class="btn btn-default" data-toggle="tooltip" title="Edit">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:random-choice-transfer-delete' random_choice_transfer.pk %}" class="btn btn-default" data-toggle="tooltip" title="Delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                               </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">There are no random choice transfers.</div>
            {% endif %}

            <h4>Stochastic Transfers</h4>

            {% if stochastic_transfers %}
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stochastic_transfer in stochastic_transfers %}
                           <tr>
                               <td><a href="{% url 'dpmfa:stochastic-transfer-detail' stochastic_transfer.pk %}">{{ stochastic_transfer.name }}</a></td>
                               <td class="dpmfa-pre-wrap">{{ stochastic_transfer.description }}</td>
                               <td>
                                    <a href="{% url 'dpmfa:stochastic-transfer-detail' stochastic_transfer.pk %}" class="btn btn-default" data-toggle="tooltip" title="Go to stochastic transfer">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:stochastic-transfer-update' stochastic_transfer.pk %}" class="btn btn-default" data-toggle="tooltip" title="Edit">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:stochastic-transfer-delete' stochastic_transfer.pk %}" class="btn btn-default" data-toggle="tooltip" title="Delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                               </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">There are no stochastic transfers.</div>
            {% endif %}


            <h4>Aggregated Transfers</h4>

            {% if aggregated_transfers %}
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aggregated_transfer in aggregated_transfers %}
                           <tr>
                               <td><a href="{% url 'dpmfa:aggregated-transfer-detail' aggregated_transfer.pk %}">{{ aggregated_transfer.name }}</a></td>
                               <td class="dpmfa-pre-wrap">{{ aggregated_transfer.description }}</td>
                               <td>
                                    <a href="{% url 'dpmfa:aggregated-transfer-detail' aggregated_transfer.pk %}" class="btn btn-default" data-toggle="tooltip" title="Go to aggregated transfer">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:aggregated-transfer-update' aggregated_transfer.pk %}" class="btn btn-default" data-toggle="tooltip" title="Edit">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'dpmfa:aggregated-transfer-delete' aggregated_transfer.pk %}" class="btn btn-default" data-toggle="tooltip" title="Delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                               </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">There are no aggregated transfers.</div>
            {% endif %}

            <h2>Simulation</h2>

            <h2>Results</h2>

        </div>
    </div>
</div>

{% endblock %}