{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DPMFA{% endblock %}</title>
    <script type="text/javascript" src="{% static "dpmfa/js/jquery.slim.min.js" %}"></script>
    <script type="text/javascript" src="{% static "dpmfa/js/tether.min.js" %}"></script>
    <script type="text/javascript" src="{% static "dpmfa/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "dpmfa/css/bootstrap.min.css" %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>