<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}DPMFA{% endblock %}</title>

    <!-- ########## SCRIPTS ########## -->

    <!-- GENERAL PURPOSE THIRD PARTY LIBS -->
    <script type="text/javascript" src="{% static 'dpmfa/js/jquery.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dpmfa/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dpmfa/js/bootstrap.min.js' %}"></script>

    <!-- MODIFICATION / CONFIGURATION / USE 1 -->
    <script type="text/javascript" src="{% static 'dpmfa/js/general.js' %}"></script>

    <!-- VIEW SPECIFIC SCRIPTS -->
    {% block viewSpecificJsLibs %}<!-- none for this view -->{% endblock %}

    <!-- ########## STYLESHEETS ########## -->

    <!-- GENERAL PURPOSE THIRD PARTY STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'dpmfa/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dpmfa/css/bootstrap-theme.min.css' %}" />

    <!-- MODIFICATION / CONFIGURATION / USE 1 -->
    <link rel="stylesheet" type="text/css" href="{% static 'dpmfa/css/general.css' %}" />

    <!-- VIEW SPECIFIC STYLESHEETS -->
    {% block viewSpecificCssLibs %}<!-- none for this view -->{% endblock %}
</head>
<body>
{% block bodyHeader %}
<!-- Navigation -->
<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'dpmfa:home' %}">DPMFA</a>
        </div>
        <ul class="nav navbar-nav">
          <li {% if view.context_object_name == 'home' %} class="active" {% endif %}><a href="{% url 'dpmfa:home' %}">Home</a></li>
          <li {% if view.context_object_name == 'projects' %} class="active" {% endif %}><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
          <li {% if view.context_object_name == 'example' %} class="active" {% endif %}><a href="{% url 'dpmfa:example' %}">Example</a></li>
          <li {% if view.context_object_name == 'quick-reference' %} class="active" {% endif %}> <a href="{% url 'dpmfa:quick-reference' %}">Quick Reference</a></li>
          <li {% if view.context_object_name == 'documentation' %} class="active" {% endif %}><a href="{% url 'dpmfa:documentation' %}">Documentation</a></li>
        </ul>
      </div>
</nav>
</header>
{% endblock %}

{% block body %}
{% endblock %}

</body>
</html>