{% extends "dpmfa/page.html" %}

{% block title %}
    {% if stochastic_function_inflow.pk %}
        Edit Stochastic Function Inflow for Period {{stochastic_function_inflow.period}}
    {% else %}
        New Stochastic Function Inflow
    {% endif %}
{% endblock %}

{% block body %}
<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand" href="#">
                {% if stochastic_function_inflow.pk %}
                    Edit Stochastic Function Inflow for Period {{stochastic_function_inflow.period}}
                {% else %}
                    New Stochastic Function Inflow
                {% endif %}
          </span>
        </div>
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </nav>
</header>




<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dpmfa:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-list' %}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:project-detail' external_list_inflow.target.model.project.pk %}">{{ external_list_inflow.target.model.project.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:model-detail' external_list_inflow.target.model.pk %}">{{ external_list_inflow.target.model.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dpmfa:external-list-inflow-detail' external_list_inflow.pk %}">{{ external_list_inflow.name }}</a></li>
                {% if stochastic_function_inflow.pk %}
                    <li class="breadcrumb-item"><a href="{% url 'dpmfa:fixed-value-inflow-detail' stochastic_function_inflow.pk %}">{{ stochastic_function_inflow.name }}</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                {% else %}
                    <li class="breadcrumb-item active">New Stochastic Function Inflow</li>
                {% endif %}
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>
                {% if stochastic_function_inflow.pk %}
                    Edit Stochastic Function Inflow for Period {{stochastic_function_inflow.period}}
                {% else %}
                    New Stochastic Function Inflow
                {% endif %}
            </h1>

            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}