{% extends "dpmfa/page.html" %}
{% load static %}

{% block viewSpecificCssLibs %}
    <link rel="stylesheet" type="text/css" href="{% static 'dpmfa/css/modes.css' %}" />
{% endblock %}

{% block viewSpecificJsLibs %}
    <script type="text/javascript" src="{% static 'dpmfa/js/modes_1_1_standalone.js' %}"></script>
    <script type="text/javascript" src="{% static 'dpmfa/js/modes_run.js' %}"></script>
{% endblock %}

{% block title %}Edit Model &quot;{{model.name}}&quot;{% endblock %}

{% block bodyHeader %}
    <header>
        <nav>
            <a href="{% url 'dpmfa:model-detail' model.pk %}" class="rgm-confirm-link" data-rgmconfirmessage="Do you want to leave this page? If you have unsaved changes, they are lost.">Back to Overview</a>
        </nav>
    </header>
{% endblock %}

{% block body %}<div class="rgm-modes-container"></div>{% endblock %}