{% extends "dpmfa/page.html" %}
{% load static %}

{% block title %}
    {% if model.name %}
        Edit diagram for model &quot;{{model.name}}&quot;
    {% else %}
        New diagram for model &quot;{{model.name}}&quot;
    {% endif %}
{% endblock %}


{% block body %}
<div class="container">
    <h1>Model Designer</h1>

    <div class="rgm-modes-container"></div>

    <div class="panel-group" id="modes-manual">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" href="#instructions">Instructions</a>
                </h2>
            </div>
            <div id="instructions" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>...</p>
                    <p>Click on the cog wheel (<img src="{% static 'dpmfa/img/cog.png' %}" />) to configure inflows and
                        compartments...</p>
                    <p>...</p>
                    <p>Start dragging on a transfer icon (<img src="{% static 'dpmfa/img/constant_transfer.png' %}" /> /
                        <img src="{% static 'dpmfa/img/random_choice_transfer.png' %}" /> /
                        <img src="{% static 'dpmfa/img/aggregated_transfer.png' %}" /> /
                        <img src="{% static 'dpmfa/img/stochastic_transfer.png' %}" />)
                        to create a new transfer of the selected type.</p>
                    <p>...</p>
                    <p>Move the drawing surface: click on the white background and drag the drawing
                        surface to the desired location.</p>
                    <p>...</p>
                    <p>If you approach the edge of the viewport while dragging a block or connection
                        endpoint, the drawing surface moves.</p>
                    <p>...</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" href="#browser-support">Browser Support</a>
                </h2>
            </div>
            <div id="browser-support" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The model designer has been tested with the current releases of the major
                        desktop browsers at the time of development:</p>
                    <ul>
                        <li>Chrome, version 60.0.3112.101</li>
                        <li>Firefox, version 55.0.2</li>
                        <li>Safari, version 10.1.2</li>
    <!-- FIND IE VERSION AND INSERT HERE -->
    <!-- FIND OPERA VERSION AND INSERT HERE -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}