.dpmfa-pre-wrap {
    white-space: pre-wrap;
}

.dpmfa-model-designer {
    position: relative;
    padding: 20px;
    height: 550px;
    border: 1px solid gray;
    overflow: hidden;
}

.dpmfa-model-designer .compartment{
    min-height:40px;
    width: 200px;
    border: 1px solid blue;
    position: absolute;
    cursor: move;
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
}