html, body {
	height: 100%;
}

header {
	position: absolute;
	top: 0px;
	right: 0px;
	padding-right: 2rem;
	height: 20px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	height: 20px;
}

header a, header a:hover, header a:active, header a:focus {
	text-decoration: none;
	color: #888888;
	font-size: 0.8em;
	line-height: 20px;
}

header a:last-of-type:after {
	content: '\00A0\00D7';
}

.rgm-modes-container circle {
	fill: #c4bda7;
	stroke: #7c786a;
}

.rgm-modes-container svg {
	z-index: 30;
}

.rgm-modes-container .dropup a {
	cursor: pointer;
}

.rgm-modes-container .jtk-overlay {
	color: #CCCCCC;
}

.rgm-modes-container .jtk-overlay.jtk-hover {
	color: #666666;
	z-index: 40;
}

.rgm-modes-container {
	height: 100%;
}

.rgm-modes-viewport {
	height: calc(100% - 60px);
	overflow: hidden;
	position: relative;
	background-image: url('../img/viewport_bg.png');
	background-repeat: repeat;
}

.rgm-modes-drawing-container {
	cursor: move;
	width: 10000px;
	height: 10000px;
	top: -5000px;
	left: -5000px;
	position: absolute;
	background-color: white;
	border: 2px solid red;
	background-image: url('../img/drawing_container_bg.png');
	background-repeat: repeat;
}

.rgm-modes-drawing-container.rgm-modes-inserting-node {
	cursor: crosshair;
}

.rgm-modes-context-info-container {
	border-bottom: 1px solid #DDDDDD;
	background-color: #EEEEEE;
	color: #888888;
	font-weight: bold;
	font-size: 0.9em;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	padding-right: 2rem;
	padding-left: 2rem;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.rgm-modes-subform-container {
	border-color: skyblue;
}

.rgm-modes-subform-container > .panel-heading {
	background-color: aliceblue;
	background-image: none;
	border-color: skyblue;
}

.rgm-modes-subform-container > .panel-body {
	border-color: skyblue;
}

.rgm-modes-subform-container .rgm-modes-subform-container {
	border-color: wheat;
}

.rgm-modes-subform-container .rgm-modes-subform-container > .panel-heading {
	background-color: antiquewhite;
	background-image: none;
	border-color: wheat;
}

.rgm-modes-subform-container .rgm-modes-subform-container > .panel-body {
	border-color: wheat;
}

.rgm-modes-subform-title {}
.rgm-modes-subform-content {}
.rgm-modes-subform-btns { width: 100%; margin-bottom: 2rem; }
.rgm-modes-subform-up-btn {}
.rgm-modes-subform-down-btn {}
.rgm-modes-subform-remove-btn {}
.rgm-modes-subform-fields {}
.rgm-modes-forms-field-container {
	border: 0px none transparent;
}

.rgm-modes-forms-field-container > .panel-heading {
	font-weight: 700;
	padding: 0px 0px 5px 0px;
	background-color: transparent;
	background-image: none;
	border: 0px none transparent;
}

.rgm-modes-forms-field-container > .panel-body {
	border: 1px solid #666666;
}

.rgm-modes-forms-field-title {}
.rgm-modes-forms-field-content {}
.rgm-modes-forms-field-feedback-container {}
.rgm-modes-forms-field-add-buttons { width: 100%; margin-bottom: 2rem; }
.rgm-modes-forms-field-add-button {}

.rgm-modes-forms-field-forms {}

.rgm-modes-node-container {
	z-index: 10;
	position: absolute;
	width: 92px;
	height: 48px;
	border: 1px solid #333333;
	background-color: #DDDDDD;
	border-radius: 5px;
	cursor: move;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-size: 20px 20px;
	box-shadow: 2px 2px 3px rgba(100, 100, 100, 0.8);
}

.rgm-modes-controls-container {
	border-top: 1px solid #DDDDDD;
	background-color: #EEEEEE;
	padding: 2px 2rem;
	height: 40px;
	white-space: nowrap;
}

.rgm-modes-controls-container button { 
	margin-right: 0.4rem;
	padding-top: 3px;
}

.rgm-modes-controls-container button:focus {
	outline: 0;
}

.rgm-modes-zoom-controls {
	display: inline-block;
	border-right: 1px solid #DDDDDD;
}

.rgm-modes-zoom-in-btn {}

.rgm-modes-zoom-out-btn {}

.rgm-modes-node-insert-controls {
	display: inline-block;
	border-right: 1px solid #DDDDDD;
	padding-left: 0.4rem;
}

.rgm-modes-node-insert-controls .rgm-modes-node-insert-item-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 6px;
	background-repeat: no-repeat;
	background-size: contain;
}

.rgm-modes-insert-node-item-externalListInflow {}
.rgm-modes-insert-node-item-externalFunctionInflow {}
.rgm-modes-insert-node-item-flowCompartment {}
.rgm-modes-insert-node-item-stock {}
.rgm-modes-insert-node-item-sink {}

.rgm-modes-insert-node-item-externalListInflow .rgm-modes-node-insert-item-icon {
	background-image: url('../icons/list.png');
}

.rgm-modes-insert-node-item-externalFunctionInflow .rgm-modes-node-insert-item-icon {
	background-image: url('../icons/function.png');
}

.rgm-modes-insert-node-item-flowCompartment .rgm-modes-node-insert-item-icon {
	background-image: url('../icons/flow.png');
}

.rgm-modes-insert-node-item-stock .rgm-modes-node-insert-item-icon {
	background-image: url('../icons/stock.png');
}

.rgm-modes-insert-node-item-sink .rgm-modes-node-insert-item-icon {
	background-image: url('../icons/sink.png');
}

.rgm-modes-save-controls {
	display: inline-block;
	padding-left: 0.4rem;
}

.rgm-modes-save-btn {}


.rgm-modes-saving-spinner {
	color: #7c7e7b;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 72px auto;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}
@keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}
@-webkit-keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
s

.rgm-modes-node-container.inflow {}

.rgm-modes-node-container.external-list-inflow {
	border-color: #62b8a8;
	background-color: #b0cdc8;
}

.rgm-modes-node-container.external-function-inflow {
	border-color: #62b8a8;
	background-color: #b0cdc8;
}

.rgm-modes-node-container.flow-compartment {
	border-color: #a5d005;
	background-color: #d1e38f;
}

.rgm-modes-node-container.stock {
	border-color: #ffd500;
	background-color: #ffee97;
}

.rgm-modes-node-container.sink {
	border-color: #eb6e44;
	background-color: #f1ae92;
}

.rgm-modes-node-node-icon {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	background-position: center center;
	transition: all 0.2s;
}

.rgm-modes-node-container:hover .rgm-modes-node-node-icon {
	background-color: rgba(255, 255, 255, 0);
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.external-list-inflow .rgm-modes-node-node-icon {
	background-color: #b0cdc8;
	background-image: url('../icons/list.png');
}

.external-function-inflow .rgm-modes-node-node-icon {
	background-color: #b0cdc8;
	background-image: url('../icons/function.png');
}

.flow-compartment .rgm-modes-node-node-icon {
	background-color: #d1e38f;
	background-image: url('../icons/flow.png');
}

.stock .rgm-modes-node-node-icon {
	background-color: #ffee97;
	background-image: url('../icons/stock.png');
}

.sink .rgm-modes-node-node-icon {
	background-color: #f1ae92;
	background-image: url('../icons/sink.png');
}

.rgm-modes-node-title {
	position: absolute;
	bottom: -25px;
	left: 0px;
	white-space: nowrap;
	overflow: visible;
}

.external-list-inflow .rgm-modes-node-title {
	color: #62b8a8;
}

.external-function-inflow .rgm-modes-node-title {
	color: #62b8a8;
}

.flow-compartment .rgm-modes-node-title {
	color: #a5d005;
}

.stock .rgm-modes-node-title {
	color: #ffd500;
}

.sink .rgm-modes-node-title {
	color: #eb6e44;
}

.rgm-modes-node-configure-button {
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url('../img/cog_inv.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px 16px;
	border-radius: 2px;
	top: 2px;
	right: 24px;
	cursor: pointer;
	background-color: #656256;
}

.rgm-modes-node-delete-button {
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url('../img/trash_inv.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px 16px;
	border-radius: 2px;
	top: 2px;
	right: 2px;
	cursor: pointer;
	background-color: #656256;
}

.rgm-modes-node-source-endpoint-inflowTarget,
.rgm-modes-node-source-endpoint-constantTransfer,
.rgm-modes-node-source-endpoint-randomChoiceTransfer,
.rgm-modes-node-source-endpoint-aggregatedTransfer,
.rgm-modes-node-source-endpoint-stochasticTransfer {
	position: absolute;
	top: 24px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px 16px;
	border-radius: 2px;
	cursor: move;
	background-color: #ffffff;
}

.rgm-modes-node-source-endpoint-inflowTarget {
	background-image: url('../img/inflow_target_inv.png');
	right: 2px;
}

.rgm-modes-node-source-endpoint-constantTransfer {
	background-image: url('../icons/constant.png');
	right: 46px;
}

.rgm-modes-node-source-endpoint-randomChoiceTransfer {
	background-image: url('../icons/random_.png');
	right: 24px;
}

.rgm-modes-node-source-endpoint-aggregatedTransfer {
	background-image: url('../iocns/aggregated.png');
	right: 68px;
}

.rgm-modes-node-source-endpoint-stochasticTransfer {
	background-image: url('../icons/stochastic_.png');
	right: 2px;
}

.rmg-modes-connection-overlay-inflowTarget,
.rmg-modes-connection-overlay-constantTransfer,
.rmg-modes-connection-overlay-randomChoiceTransfer,
.rmg-modes-connection-overlay-aggregatedTransfer,
.rmg-modes-connection-overlay-stochasticTransfer {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}


.rmg-modes-connection-overlay-inflowTarget {
	background-image: url('../img/inflow_target.png');
}

.rmg-modes-connection-overlay-constantTransfer {
	background-image: url('../icons/constant.png');
}

.rmg-modes-connection-overlay-randomChoiceTransfer {
	background-image: url('../icons/random_.png');
}

.rmg-modes-connection-overlay-aggregatedTransfer {
	background-image: url('../icons/aggregated.png');
}

.rmg-modes-connection-overlay-stochasticTransfer {
	background-image: url('../icons/stochastic_.png');
}



